In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns
from subprocess import check_output

In [4]:
print(check_output(["ls", "../input"]).decode("utf8"))

CalledProcessError: Command '['ls', '../input']' returned non-zero exit status 1.

In [5]:
prep_cars=pd.read_csv('/Users/vikaschhillar/Downloads/used-cars-database/autos.csv', encoding='latin_1')
columns_to_keep = ['brand','model','vehicleType','yearOfRegistration',
                   'monthOfRegistration','kilometer','powerPS','fuelType',
                   'gearbox','abtest','notRepairedDamage','price']
prep_cars = prep_cars[columns_to_keep]
print(len(prep_cars))

371528

In [6]:
prep_cars = prep_cars[x]

NameError: name 'x' is not defined

In [8]:
prep_cars.head()

,brand,model,vehicleType,yearOfRegistration,monthOfRegistration,kilometer,powerPS,fuelType,gearbox,abtest,notRepairedDamage,price
0,volkswagen,golf,NaN,1993,0,150000,0,benzin,manuell,test,NaN,480
1,audi,NaN,coupe,2011,5,125000,190,diesel,manuell,test,ja,18300
2,jeep,grand,suv,2004,8,125000,163,diesel,automatik,test,NaN,9800
3,volkswagen,golf,kleinwagen,2001,6,150000,75,benzin,manuell,test,nein,1500
4,skoda,fabia,kleinwagen,2008,7,90000,69,diesel,manuell,test,nein,3600

In [10]:
for col in prep_cars.columns:
    if col[:]=='vehicleType':
        prep_cars.rename(columns={col:'car_type'}, inplace=True)
    if col[:]=='yearOfRegistration': 
        prep_cars.rename(columns={col:'reg_year'}, inplace=True)
    if col[:]=='monthOfRegistration': 
        prep_cars.rename(columns={col:'reg_month'}, inplace=True)
    if col[:]=='notRepairedDamage':
        prep_cars.rename(columns={col:'damage'}, inplace=True)   
prep_cars['damage'].fillna('norep', inplace=True)
prep_cars = prep_cars.dropna()
prep_cars.head()

,brand,model,car_type,reg_year,reg_month,kilometer,powerPS,fuelType,gearbox,abtest,damage,price
2,jeep,grand,suv,2004,8,125000,163,diesel,automatik,test,norep,9800
3,volkswagen,golf,kleinwagen,2001,6,150000,75,benzin,manuell,test,nein,1500
4,skoda,fabia,kleinwagen,2008,7,90000,69,diesel,manuell,test,nein,3600
5,bmw,3er,limousine,1995,10,150000,102,benzin,manuell,test,ja,650
6,peugeot,2_reihe,cabrio,2004,8,150000,109,benzin,manuell,test,nein,2200

In [11]:
print('Number of listed cars is: ', len(prep_cars))

Number of listed cars is:  299864

In [12]:
len(prep_cars)

299864

In [13]:
def age_count(yr, mt):                    # counting the age of the car as the time from
    return (2015-yr)*12+(12-mt)+3        # registration to April,1,2016
                                        # introducing a new attribute = car age in months  
prep_cars['age_months'] = age_count(prep_cars['reg_year'],prep_cars['reg_month'])

In [14]:
prep_cars['km/1000'] = prep_cars['kilometer']/1000       # scaled feature in a new column
prep_cars.head(2)

,brand,model,car_type,reg_year,reg_month,kilometer,powerPS,fuelType,gearbox,abtest,damage,price,age_months,km/1000
2,jeep,grand,suv,2004,8,125000,163,diesel,automatik,test,norep,9800,139,125.0
3,volkswagen,golf,kleinwagen,2001,6,150000,75,benzin,manuell,test,nein,1500,177,150.0

In [15]:
prep_cars['km/1000'] = prep_cars['kilometer']/1000       # scaled feature in a new column
prep_cars.head(2)

,brand,model,car_type,reg_year,reg_month,kilometer,powerPS,fuelType,gearbox,abtest,damage,price,age_months,km/1000
2,jeep,grand,suv,2004,8,125000,163,diesel,automatik,test,norep,9800,139,125.0
3,volkswagen,golf,kleinwagen,2001,6,150000,75,benzin,manuell,test,nein,1500,177,150.0

In [17]:
prep_cars=prep_cars['kilometer/1000']

KeyError: 'kilometer/1000'

In [18]:
prep_cars['kilometer']/1000

2         125.0
3         150.0
4          90.0
5         150.0
6         150.0
7          40.0
8          30.0
10        150.0
11        150.0
12        150.0
14         70.0
17        150.0
18        150.0
19        150.0
20        100.0
21        150.0
23        150.0
24        150.0
25        150.0
27         60.0
28          5.0
29        150.0
30        150.0
33         20.0
34        150.0
38        150.0
39        150.0
42        150.0
43        100.0
44         80.0
          ...
371490    125.0
371491    150.0
371492    100.0
371494    125.0
371497    150.0
371498    150.0
371499    150.0
371500     30.0
371501    150.0
371502    150.0
371503     70.0
371505    150.0
371506    150.0
371507    150.0
371508    150.0
371510    150.0
371511    150.0
371512    150.0
371513    150.0
371514    150.0
371515    150.0
371516    150.0
371517    150.0
371518    150.0
371520    150.0
371521    150.0
371524    125.0
371525    150.0
371526    150.0
371527     50.0
Name: kilometer, dtype: float64

In [20]:
prep_cars['km/1000']/1000

2         0.125
3         0.150
4         0.090
5         0.150
6         0.150
7         0.040
8         0.030
10        0.150
11        0.150
12        0.150
14        0.070
17        0.150
18        0.150
19        0.150
20        0.100
21        0.150
23        0.150
24        0.150
25        0.150
27        0.060
28        0.005
29        0.150
30        0.150
33        0.020
34        0.150
38        0.150
39        0.150
42        0.150
43        0.100
44        0.080
          ...
371490    0.125
371491    0.150
371492    0.100
371494    0.125
371497    0.150
371498    0.150
371499    0.150
371500    0.030
371501    0.150
371502    0.150
371503    0.070
371505    0.150
371506    0.150
371507    0.150
371508    0.150
371510    0.150
371511    0.150
371512    0.150
371513    0.150
371514    0.150
371515    0.150
371516    0.150
371517    0.150
371518    0.150
371520    0.150
371521    0.150
371524    0.125
371525    0.150
371526    0.150
371527    0.050
Name: km/1000, dtype: float64

In [ ]:
x= ['brand','model','car_type','reg_year','age_months','km/1000',
                   'powerPS','fuelType','gearbox','abtest','damage','price']
prep_cars = prep_cars[x]
sel_cars = prep_cars[(prep_cars.age_months >= 0)&(prep_cars.price <= 150000)&
                     (prep_cars.price > 100)]
sel_cars.head(3)                   # removing records with invalid or very extreme values

In [3]:
prep_cars1=pd.read_csv('/Users/vikaschhillar/Downloads/Untitled23.ipynb', encoding='latin_1')

CParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [1]:
prep_cars

NameError: name 'prep_cars' is not defined

In [6]:
prep_cars

,brand,model,vehicleType,yearOfRegistration,monthOfRegistration,kilometer,powerPS,fuelType,gearbox,abtest,notRepairedDamage,price
0,volkswagen,golf,NaN,1993,0,150000,0,benzin,manuell,test,NaN,480
1,audi,NaN,coupe,2011,5,125000,190,diesel,manuell,test,ja,18300
2,jeep,grand,suv,2004,8,125000,163,diesel,automatik,test,NaN,9800
3,volkswagen,golf,kleinwagen,2001,6,150000,75,benzin,manuell,test,nein,1500
4,skoda,fabia,kleinwagen,2008,7,90000,69,diesel,manuell,test,nein,3600
5,bmw,3er,limousine,1995,10,150000,102,benzin,manuell,test,ja,650
6,peugeot,2_reihe,cabrio,2004,8,150000,109,benzin,manuell,test,nein,2200
7,volkswagen,andere,limousine,1980,7,40000,50,benzin,manuell,test,nein,0
8,ford,c_max,bus,2014,8,30000,125,benzin,manuell,control,NaN,14500
9,volkswagen,golf,kleinwagen,1998,0,150000,101,NaN,manuell,test,NaN,999
10,mazda,3_reihe,limousine,2004,12,150000,105,benzin,manuell,control,nein,2000
11,volkswagen,passat,kombi,2005,12,150000,140,diesel,manuell,control,ja,2799
12,volkswagen,passat,kombi,1995,11,150000,115,benzin,manuell,control,NaN,999
13,volkswagen,passat,kombi,2004,2,150000,131,NaN,manuell,control,nein,2500
14,nissan,navara,suv,2011,3,70000,190,diesel,manuell,control,nein,17999
15,ford,ka,kleinwagen,1910,0,5000,0,benzin,NaN,test,NaN,450
16,volkswagen,polo,NaN,2016,0,150000,60,benzin,NaN,test,NaN,300
17,renault,twingo,kleinwagen,2004,2,150000,75,benzin,automatik,control,nein,1750
18,ford,c_max,bus,2007,6,150000,136,diesel,manuell,test,nein,7550
19,mercedes_benz,a_klasse,bus,2004,1,150000,102,benzin,manuell,test,nein,1850
20,volkswagen,scirocco,coupe,2009,4,100000,160,benzin,manuell,control,nein,10400
21,bmw,5er,limousine,2002,7,150000,231,benzin,automatik,test,nein,3699
22,opel,meriva,NaN,2018,5,150000,90,benzin,manuell,test,nein,2900
23,seat,arosa,kleinwagen,1997,5,150000,50,benzin,manuell,test,nein,450
24,mercedes_benz,andere,limousine,1990,10,150000,118,benzin,manuell,test,ja,500
25,bmw,5er,kombi,2002,9,150000,193,diesel,automatik,control,ja,2500
26,citroen,c4,NaN,2017,4,125000,125,NaN,manuell,control,nein,5555
27,honda,civic,limousine,2008,11,60000,99,benzin,manuell,test,nein,6900
28,volkswagen,transporter,bus,1981,1,5000,50,benzin,manuell,test,nein,1990
29,fiat,punto,kleinwagen,2003,3,150000,60,benzin,manuell,test,nein,690
...,...,...,...,...,...,...,...,...,...,...,...,...
371498,opel,vectra,limousine,1999,3,150000,101,benzin,manuell,control,NaN,699
371499,opel,corsa,kleinwagen,1998,1,150000,54,benzin,manuell,control,nein,600
371500,volkswagen,golf,limousine,2014,9,30000,150,benzin,automatik,test,nein,20400
371501,chrysler,voyager,bus,2003,7,150000,174,benzin,automatik,test,nein,3900
371502,audi,a4,kombi,1998,2,150000,125,benzin,manuell,test,nein,1600
371503,subaru,justy,kleinwagen,1999,11,70000,68,benzin,manuell,control,nein,1700
371504,mercedes_benz,c_klasse,NaN,2005,9,150000,0,NaN,automatik,control,NaN,2600
371505,opel,astra,kombi,2000,11,150000,101,benzin,manuell,test,ja,800
371506,volkswagen,golf,limousine,2006,9,150000,105,diesel,manuell,test,nein,5900
371507,audi,a4,kombi,2005,4,150000,140,diesel,manuell,test,NaN,5999
371508,opel,astra,limousine,2001,2,150000,125,benzin,manuell,control,nein,1400
371509,volkswagen,NaN,NaN,2000,7,150000,110,NaN,manuell,test,nein,1900
371510,mercedes_benz,e_klasse,limousine,2003,3,150000,145,diesel,automatik,test,nein,6500
371511,audi,a3,limousine,1997,12,150000,150,benzin,manuell,control,nein,1999
371512,mercedes_benz,e_klasse,limousine,2003,12,150000,260,diesel,automatik,test,ja,5000
371513,seat,leon,limousine,2008,7,150000,105,diesel,manuell,control,nein,4400
371514,renault,megane,cabrio,2000,4,150000,95,benzin,manuell,control,NaN,999
371515,skoda,fabia,kombi,2004,4,150000,55,benzin,manuell,test,NaN,1690
371516,volkswagen,lupo,kleinwagen,1998,9,150000,50,benzin,manuell,control,nein,1490
371517,volkswagen,golf,limousine,2010,7,150000,140,diesel,manuell,test,nein,7900
371518,bmw,3er,kombi,2005,5,150000,3,diesel,manuell,test,nein,3999
371519,alfa_romeo,159,NaN,2016,12,150000,150,NaN,automatik,control,nein,5250
371520,seat,leon,limousine,2004,5,150000,225,benzin,manuell,control,ja,3200
371521,opel,zafira,bus,2000,3,150000,0,benzin,manuell,control,nein,1150
371522,mitsubishi,colt,NaN,2005,7,150000,0,benzin,manuell,control,ja,0
371523,sonstige_autos,NaN,NaN,2005,1,20000,0,NaN,NaN,test,NaN,2200
371524,smart,fortwo,cabrio,2000,3,125000,101,benzin,automatik,test,nein,1199
371525,volkswagen,transporter,bus,1996,3,150000,102,diesel,manuell,test,nein,9200
371526,volkswagen,golf,kombi,2002,6,150000,100,diesel,manuell,test,NaN,3400
371527,bmw,m_reihe,limousine,2013,8,50000,320,benzin,manuell,control,nein,28990

In [7]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score, mean_absolute_error

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook
%matplotlib inline

In [9]:
x= '/Users/vikaschhillar/Downloads/used-cars-database (2)/autos.csv'
second_cars= pd.read_csv(x, encoding='Latin1')

In [10]:
head(x)

NameError: name 'head' is not defined

In [11]:
pd.to_numeric(second_cars.yearOfRegistration, errors='raise')
second_cars= second_cars[second_cars.yearOfRegistration > 2004]
second_cars = second_cars[second_cars.yearOfRegistration <= 2016]

In [16]:
second_cars =second_cars[second_cars.price> 150]
second_cars = second_cars[second_cars.price < 45000]
second_cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,7,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,2,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,4,2014,manuell,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
11,2016-04-07 10:06:22,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,privat,Angebot,2799,control,3,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,6,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42

In [13]:
second_cars['vehicleType'] = second_cars['vehicleType'].fillna('missing') #filling missing values
second_cars['vehicleType'] = second_cars['vehicleType'].map({
                                                'missing':0,
                                                'limousine':1, 
                                                'kleinwagen':2,
                                                'kombi':3,
                                                'bus':4,
                                                'cabrio':5,
                                                'suv':6,
                                                'coupe':7,
                                                'andere':8})

In [15]:
second_cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,7,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,2,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,4,2014,manuell,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
11,2016-04-07 10:06:22,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,privat,Angebot,2799,control,3,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,6,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42

In [21]:
second_cars['vehicleType'] = second_cars['vehicleType'].fillna('missing') #filling missing values
second_cars['vehicleType'] = second_cars['vehicleType'].map({
                                                'missing':0,
                                                'limousine':1, 
                                                'kleinwagen':2,
                                                'kombi':3,
                                                'bus':4,
                                                'cabrio':5,
                                                'suv':6,
                                                'coupe':7,
                                                'andere':8})

In [23]:
second_cars.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
371517,2016-03-28 13:48:07,Volkswagen_Golf_2.0_TDI_DPF_Team,privat,Angebot,7900,test,0,2010,manuell,140,golf,150000,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20
371518,2016-04-02 20:37:03,Bmw_320_D_DPF_Touring_!!!,privat,Angebot,3999,test,0,2005,manuell,3,3er,150000,5,diesel,bmw,nein,2016-04-02 00:00:00,0,81825,2016-04-06 20:47:12
371519,2016-03-09 13:37:43,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,privat,Angebot,5250,control,0,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,0,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,0,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [24]:
second_cars['gearbox'] = second_cars['gearbox'].fillna('missing')
second_cars['gearbox'] = second_cars['gearbox'].map({
                                        'manuell':0,
                                        'automatik':1,
                                        'missing':2})

In [26]:
second_cars.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
371517,2016-03-28 13:48:07,Volkswagen_Golf_2.0_TDI_DPF_Team,privat,Angebot,7900,test,0,2010,0,140,golf,150000,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20
371518,2016-04-02 20:37:03,Bmw_320_D_DPF_Touring_!!!,privat,Angebot,3999,test,0,2005,0,3,3er,150000,5,diesel,bmw,nein,2016-04-02 00:00:00,0,81825,2016-04-06 20:47:12
371519,2016-03-09 13:37:43,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,privat,Angebot,5250,control,0,2016,1,150,159,150000,12,NaN,alfa_romeo,nein,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,0,2005,2,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,0,2013,0,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [28]:
second_cars = second_cars [second_cars.powerPS > 40]

In [38]:
second_cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,0,2011,0,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,0,2008,0,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,0,2014,0,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
11,2016-04-07 10:06:22,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,privat,Angebot,2799,control,0,2005,0,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,0,2011,0,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42

In [34]:
second_cars.isnull(vehicleType)

NameError: name 'vehicleType' is not defined

In [35]:
head(second_cars$notRepairedDamage)

SyntaxError: invalid syntax (<ipython-input-35-a2e7dbd97ca8>, line 1)

In [36]:
head(second_cars)

NameError: name 'head' is not defined

In [39]:
second_cars['fuelType'] = second_cars['fuelType'].fillna('missing') #filling missing values
second_cars['fuelType'] = second_cars['fuelType'].map({
                                                'missing':0,
                                                'benzin':1, 
                                                'diesel':2,
                                                'lpg':3,
                                                'cng':4,
                                                'hybrid':5,
                                                'elektro':6,
                                                'andere':7})